


<div class="container">

    <!------------------HEADER----------------------->
    <header>
        <!-----------------caja tlf y whatsapp---------------------->
        <div class="cabecera">
            <div class="telefono">
                <div>
                    <a class="linkTlf" href="tel://649925439">
                        <img src="/public/img/tel.png" alt="Clases de Salsa en Málaga" title="Clases de Salsa en Málaga"> Llama ahora
                        <br>(+34) 649 92 54 39
                   </a>
               </div>
                <div class="cajaWhatsapp">
                   <a class="whatsapptlf" href="https://wa.me/34649925439">
                        <img src="/public/img/whatsapp_649-62-54-39.png" alt="Clases de Salsa en Málaga" title="Clases de Salsa en Málaga">
                       <br>WhatsApp
                  </a>
                </div>
            </div>
        </div>

        <!-- Logo Baila Con Sara -->
        <figure id="logo">
            <a href="index.html">
                <img src="/public/img/Logo-baila-con-sara.png" alt="Clases de Salsa en Málaga" title="Clases de Salsa en Málaga">
            </a>
        </figure>

        <!----------------- buscador---------------------->
        <div class="idiomas">
            <div class="banderasBuscador">
                <div>
                    <img src="/public/img/Español.jpg" alt="Español" title="Clases de Salsa en Málaga">
                </div>
                <div>
                    <img src="/public/img/English.jpg" alt="English" title="Clases de Salsa en Málaga">
                </div>
                <div> <!----------------------Hay que convertirlo en Buscador----------------------------->
                    <img src="/public/img/buscador.png" alt="Buscador" title="Buscador">
                </div>
            </div>
            <!-- hay que poner el onclick en el js onclick="toggleMenu()"-->
            <div class="navbar-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

        </div>
        <!-----------------caja negra logo, menu ---------------------->
        <div class="menu">
            <nav>
                <ul>
                    <li><a class="btnMenu" href="http://localhost:8080/public/">INICIO</a></li>
                    <li><a class="btnMenu" href="#">HORARIOS</a></li>
                    <li><a class="btnMenu" href="#">CONTACTO</a></li>
                    <li><a class="btnMenu" href="#">GALERÍA</a></li>
                    <li><a class="btnMenu" href="#">BAILAR EN MÁLAGA</a></li>
                    <li><a class="btnMenu" href="#">EVENTOS</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>


    </div> <!-- CIERRE DIV CSS CONTAINER -->